@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);




/*TITLE*/
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-slider-slide,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price,
.timer,
cite,
.page_head blockquote p {
  font-family: 'Oxygen', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oxygen', sans-serif;
}
.mbr-author-name {
  font-family: 'Oxygen', sans-serif;
}
.mbr-author-desc {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Lato', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
/*SUBTITLE*/
.btn-sm,
.btn,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block,
.nav-link.link,
.dropdown-item {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
/*TEXT*/
body,
input,
textarea,
p,
li,
.mbr-gallery-filter ul li span,
.mbr-company .list-group-text,
.mbr-section-text {
  font-family: 'Lato', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Lato', sans-serif;
}
/*ROUNDED BUTTONS*/
.btn {
  border-radius: 40px;
}
.btn:before {
  border-radius: 40px;
}
.btn:after {
  border-radius: 40px;
}
.mbr-subscribe .btn {
  border-radius: 40px !important;
}
/*COLORS*/
a,
.alert,
.list-img .mbr-iconfont,
.content1 .image .mbr-iconfont:hover,
.c-info .timer,
.contacts .mbr-iconfont,
.mbr-gallery-filter li.active {
  color: #204187;
}
.item-layer,
.close:hover {
  background: rgba(32, 65, 135, 0.5);
}
.styled:before,
.styled span:before,
.content3 .image .mbr-iconfont:hover,
.folow:before,
.date:before,
.mbr-gallery-filter li:before,
.separator:before,
.bgc {
  background: #204187;
}
input:focus,
textarea:focus {
  border-color: #204187 !important;
}
.mbr-slider .carousel-indicators li.active,
.mbr-slider .carousel-indicators li:hover {
  background-color: #204187 !important;
  border-color: #204187 !important;
}
a:hover,
.team-item.news h5 a:hover,
.team-item.news h3 a:hover,
.adr-link:hover,
.mbr-gallery-filter li:hover,
.news-min .text a:hover {
  color: #315298;
}
.mbr-section-subtitle,
.content1 .image .mbr-iconfont {
  color: #46004c;
}
.bg-primary {
  background-color: #204187 !important;
}
.bg-success {
  background-color: #2be080 !important;
}
.bg-info {
  background-color: #3c77ed !important;
}
.bg-warning {
  background-color: #e0c119 !important;
}
.bg-danger {
  background-color: #eb5a1a !important;
}
.btn-primary {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #204187;
  border-color: #204187;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #112349 !important;
  border-color: #112349 !important;
}
.btn-secondary {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #46004c;
  border-color: #46004c;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info {
  background-color: transparent;
  border-color: #222222;
  color: #222222;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #222222;
  background-color: #3c77ed;
  border-color: #3c77ed;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #222222 !important;
  background-color: #1350ca !important;
  border-color: #1350ca !important;
}
.btn-success {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #2be080;
  border-color: #2be080;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #18a65b !important;
  border-color: #18a65b !important;
}
.btn-warning {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e0c119;
  border-color: #e0c119;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b8611 !important;
  border-color: #9b8611 !important;
}
.btn-danger {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb5a1a;
  border-color: #eb5a1a;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #aa3e0f !important;
  border-color: #aa3e0f !important;
}
.btn-black {
  color: #fff;
  background: #222;
  border: #222;
}
.btn-white {
  color: #222;
  background: #fff;
  border: #fff;
}
.btn-black:hover {
  background: #204187;
  border: #204187;
  color: #fff;
}
.btn-white:hover {
  background: #204187;
  border: #204187;
  color: #fff;
}
.btn-primary-outline {
  background: none;
  border-color: #0c1935;
  color: #0c1935;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #204187;
  border-color: #204187;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #204187 !important;
  border-color: #204187 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #46004c;
  border-color: #46004c;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #46004c !important;
  border-color: #46004c !important;
}
.btn-info-outline {
  background: none;
  border-color: #1046b3;
  color: #1046b3;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #3c77ed;
  border-color: #3c77ed;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #3c77ed !important;
  border-color: #3c77ed !important;
}
.btn-success-outline {
  background: none;
  border-color: #15904f;
  color: #15904f;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #2be080;
  border-color: #2be080;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #2be080 !important;
  border-color: #2be080 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #84720f;
  color: #84720f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #e0c119;
  border-color: #e0c119;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #e0c119 !important;
  border-color: #e0c119 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #92360d;
  color: #92360d;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #eb5a1a;
  border-color: #eb5a1a;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #eb5a1a !important;
  border-color: #eb5a1a !important;
}
.text-primary {
  color: #204187 !important;
}
.text-success {
  color: #2be080 !important;
}
.text-info {
  color: #3c77ed !important;
}
.text-warning {
  color: #e0c119 !important;
}
.text-danger {
  color: #eb5a1a !important;
}
.alert-success {
  background-color: #2be080;
}
.alert-info {
  background-color: #3c77ed;
}
.alert-warning {
  background-color: #e0c119;
}
.alert-danger {
  background-color: #eb5a1a;
}
.btn-social {
  border-color: #204187;
}
.btn-social:hover {
  background: #204187;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #204187;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #204187;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #204187;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #204187;
}
.lead a,
.lead a:hover {
  color: #204187;
}
.lead blockquote {
  border-color: #204187;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #517bd6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ddfaeb;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f7f9fe;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #f9f2cc;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fbe1d6;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #204187;
}
/*image*/
.mbr-figure .mbr-figure-caption-over {
  background: -moz-linear-gradient(left, rgba(32, 65, 135, 0.2), rgba(66, 99, 169, 0.7)) !important;
  background: -ms-linear-gradient(left, rgba(32, 65, 135, 0.2), rgba(66, 99, 169, 0.7)) !important;
  background: -o-linear-gradient(left, rgba(32, 65, 135, 0.2), rgba(66, 99, 169, 0.7)) !important;
  background: -webkit-linear-gradient(left, rgba(32, 65, 135, 0.2), rgba(66, 99, 169, 0.7)) !important;
  background: linear-gradient(left, rgba(32, 65, 135, 0.2), rgba(66, 99, 169, 0.7)) !important;
}
/*progress bar*/
.progress-primary[value]::-webkit-progress-value {
  background-color: #204187;
}
.progress-primary[value]::-moz-progress-bar {
  background-color: #204187;
}
.progress-primary[value]::-ms-fill {
  background-color: #204187;
}
@media screen and (min-width: 0\0) {
  .progress-primary .progress-bar {
    background-color: #204187;
  }
}
/*process*/
.process1 .image .bgr {
  background: -webkit-linear-gradient(left, rgba(32, 65, 135, 0.2), rgba(66, 99, 169, 0.7));
  background: -o-linear-gradient(right, rgba(32, 65, 135, 0.2), rgba(66, 99, 169, 0.7));
  background: -moz-linear-gradient(right, rgba(32, 65, 135, 0.2), rgba(66, 99, 169, 0.7));
  background: linear-gradient(to right, rgba(32, 65, 135, 0.2), rgba(66, 99, 169, 0.7));
}
/*accordion*/
.panel.active .panel-heading a,
.panel:hover .panel-heading a {
  border-color: #204187;
}
.panel-heading a:hover span:before,
.panel-heading a:hover span:after,
.panel.active .panel-heading a span:after {
  background: #204187;
}
#menu2-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-0 .navbar-caption {
  color: #ffffff;
}
#menu2-0 .navbar-toggler {
  color: #ffffff;
}
#menu2-0 .close-icon::before,
#menu2-0 .close-icon::after {
  background-color: #ffffff;
}
#menu2-0 .link,
#menu2-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu2-0 .link {
  font-size: 0.75rem;
}
#menu2-0 .dropdown-item,
#menu2-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu2-0 .link:hover,
#menu2-0 .dropdown-item:hover,
#menu2-0 .link:focus,
#menu2-0 .dropdown-item:focus {
  color: #fff;
}
#menu2-0 .link[aria-expanded="true"],
#menu2-0 .dropdown-menu {
  background: #162d5e;
}
#menu2-0 .nav-dropdown-sm .link:focus,
#menu2-0 .nav-dropdown-sm .link:hover,
#menu2-0 .nav-dropdown-sm .dropdown-item:focus,
#menu2-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #1d3b7b!important;
}
#menu2-0 .navbar,
#menu2-0 .nav-dropdown-sm,
#menu2-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-0 .nav-dropdown-sm .dropdown-menu {
  background: #204187;
}
#menu2-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu2-0 .navbar-toggler i,
#menu2-0 .navbar-toggler em,
#menu2-0 .navbar-toggler i:before,
#menu2-0 .navbar-toggler em:before,
#menu2-0 .navbar-toggler i:after,
#menu2-0 .navbar-toggler em:after {
  background: #ffffff;
}
#menu2-0 .navbar-toggler[aria-expanded="true"] i,
#menu2-0 .navbar-toggler[aria-expanded="true"] em {
  background: transparent;
}
#menu2-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-0 .bg-color.transparent.opened .link:hover,
#menu2-0 .bg-color.transparent.opened .link:focus {
  color: #fff;
}
#menu2-0 .link[aria-expanded="true"] {
  color: #fff!important;
}
#menu2-0 .dropdown-item[aria-expanded="true"] {
  color: #222!important;
}
#header1-2t H1 {
  text-align: left;
}
#header1-2t P {
  text-align: left;
}
#content1-4 H1 {
  color: #000000;
}
#content2-3f H4 {
  text-align: left;
}
#content2-3g H4 {
  text-align: left;
}
#pricing-table1-3n .mbr-section__container .mbr-section-title {
  color: #fff;
}
#pricing-table1-3n .mbr-section__container .mbr-section-subtitle {
  color: #a0a0a0;
}
#header3-3j H1 {
  font-size: 100px;
}
#accordion1-3k P {
  text-align: left;
}
#contacts1-3o P {
  text-align: center;
  color: #204187;
}

#contacts1-2h P {
  text-align: center;
  color: #204187;
}
#menu2-2f .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-2f .navbar-caption {
  color: #ffffff;
}
#menu2-2f .navbar-toggler {
  color: #ffffff;
}
#menu2-2f .close-icon::before,
#menu2-2f .close-icon::after {
  background-color: #ffffff;
}
#menu2-2f .link,
#menu2-2f .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu2-2f .link {
  font-size: 0.75rem;
}
#menu2-2f .dropdown-item,
#menu2-2f .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu2-2f .link:hover,
#menu2-2f .dropdown-item:hover,
#menu2-2f .link:focus,
#menu2-2f .dropdown-item:focus {
  color: #fff;
}
#menu2-2f .link[aria-expanded="true"],
#menu2-2f .dropdown-menu {
  background: #162d5e;
}
#menu2-2f .nav-dropdown-sm .link:focus,
#menu2-2f .nav-dropdown-sm .link:hover,
#menu2-2f .nav-dropdown-sm .dropdown-item:focus,
#menu2-2f .nav-dropdown-sm .dropdown-item:hover {
  background: #1d3b7b!important;
}
#menu2-2f .navbar,
#menu2-2f .nav-dropdown-sm,
#menu2-2f .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-2f .nav-dropdown-sm .dropdown-menu {
  background: #204187;
}
#menu2-2f .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu2-2f .navbar-toggler i,
#menu2-2f .navbar-toggler em,
#menu2-2f .navbar-toggler i:before,
#menu2-2f .navbar-toggler em:before,
#menu2-2f .navbar-toggler i:after,
#menu2-2f .navbar-toggler em:after {
  background: #ffffff;
}
#menu2-2f .navbar-toggler[aria-expanded="true"] i,
#menu2-2f .navbar-toggler[aria-expanded="true"] em {
  background: transparent;
}
#menu2-2f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-2f .bg-color.transparent.opened .link:hover,
#menu2-2f .bg-color.transparent.opened .link:focus {
  color: #fff;
}
#menu2-2f .link[aria-expanded="true"] {
  color: #fff!important;
}
#menu2-2f .dropdown-item[aria-expanded="true"] {
  color: #222!important;
}

#title4-2c H1 {
  text-align: left;
}
#accordion1-2b P {
  text-align: left;
}
#menu2-28 .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-28 .navbar-caption {
  color: #ffffff;
}
#menu2-28 .navbar-toggler {
  color: #ffffff;
}
#menu2-28 .close-icon::before,
#menu2-28 .close-icon::after {
  background-color: #ffffff;
}
#menu2-28 .link,
#menu2-28 .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu2-28 .link {
  font-size: 0.75rem;
}
#menu2-28 .dropdown-item,
#menu2-28 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu2-28 .link:hover,
#menu2-28 .dropdown-item:hover,
#menu2-28 .link:focus,
#menu2-28 .dropdown-item:focus {
  color: #fff;
}
#menu2-28 .link[aria-expanded="true"],
#menu2-28 .dropdown-menu {
  background: #162d5e;
}
#menu2-28 .nav-dropdown-sm .link:focus,
#menu2-28 .nav-dropdown-sm .link:hover,
#menu2-28 .nav-dropdown-sm .dropdown-item:focus,
#menu2-28 .nav-dropdown-sm .dropdown-item:hover {
  background: #1d3b7b!important;
}
#menu2-28 .navbar,
#menu2-28 .nav-dropdown-sm,
#menu2-28 .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-28 .nav-dropdown-sm .dropdown-menu {
  background: #204187;
}
#menu2-28 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu2-28 .navbar-toggler i,
#menu2-28 .navbar-toggler em,
#menu2-28 .navbar-toggler i:before,
#menu2-28 .navbar-toggler em:before,
#menu2-28 .navbar-toggler i:after,
#menu2-28 .navbar-toggler em:after {
  background: #ffffff;
}
#menu2-28 .navbar-toggler[aria-expanded="true"] i,
#menu2-28 .navbar-toggler[aria-expanded="true"] em {
  background: transparent;
}
#menu2-28 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-28 .bg-color.transparent.opened .link:hover,
#menu2-28 .bg-color.transparent.opened .link:focus {
  color: #fff;
}
#menu2-28 .link[aria-expanded="true"] {
  color: #fff!important;
}
#menu2-28 .dropdown-item[aria-expanded="true"] {
  color: #222!important;
}

#header3-2x P {
  text-align: right;
}
#header3-2x H1 {
  text-align: right;
}
#menu2-1n .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-1n .navbar-caption {
  color: #ffffff;
}
#menu2-1n .navbar-toggler {
  color: #ffffff;
}
#menu2-1n .close-icon::before,
#menu2-1n .close-icon::after {
  background-color: #ffffff;
}
#menu2-1n .link,
#menu2-1n .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu2-1n .link {
  font-size: 0.75rem;
}
#menu2-1n .dropdown-item,
#menu2-1n .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu2-1n .link:hover,
#menu2-1n .dropdown-item:hover,
#menu2-1n .link:focus,
#menu2-1n .dropdown-item:focus {
  color: #fff;
}
#menu2-1n .link[aria-expanded="true"],
#menu2-1n .dropdown-menu {
  background: #162d5e;
}
#menu2-1n .nav-dropdown-sm .link:focus,
#menu2-1n .nav-dropdown-sm .link:hover,
#menu2-1n .nav-dropdown-sm .dropdown-item:focus,
#menu2-1n .nav-dropdown-sm .dropdown-item:hover {
  background: #1d3b7b!important;
}
#menu2-1n .navbar,
#menu2-1n .nav-dropdown-sm,
#menu2-1n .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-1n .nav-dropdown-sm .dropdown-menu {
  background: #204187;
}
#menu2-1n .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu2-1n .navbar-toggler i,
#menu2-1n .navbar-toggler em,
#menu2-1n .navbar-toggler i:before,
#menu2-1n .navbar-toggler em:before,
#menu2-1n .navbar-toggler i:after,
#menu2-1n .navbar-toggler em:after {
  background: #ffffff;
}
#menu2-1n .navbar-toggler[aria-expanded="true"] i,
#menu2-1n .navbar-toggler[aria-expanded="true"] em {
  background: transparent;
}
#menu2-1n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-1n .bg-color.transparent.opened .link:hover,
#menu2-1n .bg-color.transparent.opened .link:focus {
  color: #fff;
}
#menu2-1n .link[aria-expanded="true"] {
  color: #fff!important;
}
#menu2-1n .dropdown-item[aria-expanded="true"] {
  color: #222!important;
}

#header3-2o DIV {
  font-size: 100px;
}
#header3-2o H1 {
  font-size: 72px;
}
#content2-1f H4 {
  text-align: left;
}
#menu2-11 .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-11 .navbar-caption {
  color: #ffffff;
}
#menu2-11 .navbar-toggler {
  color: #ffffff;
}
#menu2-11 .close-icon::before,
#menu2-11 .close-icon::after {
  background-color: #ffffff;
}
#menu2-11 .link,
#menu2-11 .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu2-11 .link {
  font-size: 0.75rem;
}
#menu2-11 .dropdown-item,
#menu2-11 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu2-11 .link:hover,
#menu2-11 .dropdown-item:hover,
#menu2-11 .link:focus,
#menu2-11 .dropdown-item:focus {
  color: #fff;
}
#menu2-11 .link[aria-expanded="true"],
#menu2-11 .dropdown-menu {
  background: #162d5e;
}
#menu2-11 .nav-dropdown-sm .link:focus,
#menu2-11 .nav-dropdown-sm .link:hover,
#menu2-11 .nav-dropdown-sm .dropdown-item:focus,
#menu2-11 .nav-dropdown-sm .dropdown-item:hover {
  background: #1d3b7b!important;
}
#menu2-11 .navbar,
#menu2-11 .nav-dropdown-sm,
#menu2-11 .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-11 .nav-dropdown-sm .dropdown-menu {
  background: #204187;
}
#menu2-11 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu2-11 .navbar-toggler i,
#menu2-11 .navbar-toggler em,
#menu2-11 .navbar-toggler i:before,
#menu2-11 .navbar-toggler em:before,
#menu2-11 .navbar-toggler i:after,
#menu2-11 .navbar-toggler em:after {
  background: #ffffff;
}
#menu2-11 .navbar-toggler[aria-expanded="true"] i,
#menu2-11 .navbar-toggler[aria-expanded="true"] em {
  background: transparent;
}
#menu2-11 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-11 .bg-color.transparent.opened .link:hover,
#menu2-11 .bg-color.transparent.opened .link:focus {
  color: #fff;
}
#menu2-11 .link[aria-expanded="true"] {
  color: #fff!important;
}
#menu2-11 .dropdown-item[aria-expanded="true"] {
  color: #222!important;
}
#content2-18 H4 {
  text-align: left;
}

#header3-2s H1 {
  font-size: 100px;
}
#menu2-b .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-b .navbar-caption {
  color: #ffffff;
}
#menu2-b .navbar-toggler {
  color: #ffffff;
}
#menu2-b .close-icon::before,
#menu2-b .close-icon::after {
  background-color: #ffffff;
}
#menu2-b .link,
#menu2-b .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu2-b .link {
  font-size: 0.75rem;
}
#menu2-b .dropdown-item,
#menu2-b .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu2-b .link:hover,
#menu2-b .dropdown-item:hover,
#menu2-b .link:focus,
#menu2-b .dropdown-item:focus {
  color: #fff;
}
#menu2-b .link[aria-expanded="true"],
#menu2-b .dropdown-menu {
  background: #162d5e;
}
#menu2-b .nav-dropdown-sm .link:focus,
#menu2-b .nav-dropdown-sm .link:hover,
#menu2-b .nav-dropdown-sm .dropdown-item:focus,
#menu2-b .nav-dropdown-sm .dropdown-item:hover {
  background: #1d3b7b!important;
}
#menu2-b .navbar,
#menu2-b .nav-dropdown-sm,
#menu2-b .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-b .nav-dropdown-sm .dropdown-menu {
  background: #204187;
}
#menu2-b .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu2-b .navbar-toggler i,
#menu2-b .navbar-toggler em,
#menu2-b .navbar-toggler i:before,
#menu2-b .navbar-toggler em:before,
#menu2-b .navbar-toggler i:after,
#menu2-b .navbar-toggler em:after {
  background: #ffffff;
}
#menu2-b .navbar-toggler[aria-expanded="true"] i,
#menu2-b .navbar-toggler[aria-expanded="true"] em {
  background: transparent;
}
#menu2-b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-b .bg-color.transparent.opened .link:hover,
#menu2-b .bg-color.transparent.opened .link:focus {
  color: #fff;
}
#menu2-b .link[aria-expanded="true"] {
  color: #fff!important;
}
#menu2-b .dropdown-item[aria-expanded="true"] {
  color: #222!important;
}
#accordion1-l P {
  text-align: left;
}

#title4-2i H1 {
  text-align: left;
}
#text1-2m H3 {
  font-size: 20px;
}
#menu2-2k .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-2k .navbar-caption {
  color: #ffffff;
}
#menu2-2k .navbar-toggler {
  color: #ffffff;
}
#menu2-2k .close-icon::before,
#menu2-2k .close-icon::after {
  background-color: #ffffff;
}
#menu2-2k .link,
#menu2-2k .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu2-2k .link {
  font-size: 0.75rem;
}
#menu2-2k .dropdown-item,
#menu2-2k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu2-2k .link:hover,
#menu2-2k .dropdown-item:hover,
#menu2-2k .link:focus,
#menu2-2k .dropdown-item:focus {
  color: #fff;
}
#menu2-2k .link[aria-expanded="true"],
#menu2-2k .dropdown-menu {
  background: #162d5e;
}
#menu2-2k .nav-dropdown-sm .link:focus,
#menu2-2k .nav-dropdown-sm .link:hover,
#menu2-2k .nav-dropdown-sm .dropdown-item:focus,
#menu2-2k .nav-dropdown-sm .dropdown-item:hover {
  background: #1d3b7b!important;
}
#menu2-2k .navbar,
#menu2-2k .nav-dropdown-sm,
#menu2-2k .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-2k .nav-dropdown-sm .dropdown-menu {
  background: #204187;
}
#menu2-2k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu2-2k .navbar-toggler i,
#menu2-2k .navbar-toggler em,
#menu2-2k .navbar-toggler i:before,
#menu2-2k .navbar-toggler em:before,
#menu2-2k .navbar-toggler i:after,
#menu2-2k .navbar-toggler em:after {
  background: #ffffff;
}
#menu2-2k .navbar-toggler[aria-expanded="true"] i,
#menu2-2k .navbar-toggler[aria-expanded="true"] em {
  background: transparent;
}
#menu2-2k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-2k .bg-color.transparent.opened .link:hover,
#menu2-2k .bg-color.transparent.opened .link:focus {
  color: #fff;
}
#menu2-2k .link[aria-expanded="true"] {
  color: #fff!important;
}
#menu2-2k .dropdown-item[aria-expanded="true"] {
  color: #222!important;
}

#menu2-33 .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-33 .navbar-caption {
  color: #ffffff;
}
#menu2-33 .navbar-toggler {
  color: #ffffff;
}
#menu2-33 .close-icon::before,
#menu2-33 .close-icon::after {
  background-color: #ffffff;
}
#menu2-33 .link,
#menu2-33 .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu2-33 .link {
  font-size: 0.75rem;
}
#menu2-33 .dropdown-item,
#menu2-33 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu2-33 .link:hover,
#menu2-33 .dropdown-item:hover,
#menu2-33 .link:focus,
#menu2-33 .dropdown-item:focus {
  color: #fff;
}
#menu2-33 .link[aria-expanded="true"],
#menu2-33 .dropdown-menu {
  background: #162d5e;
}
#menu2-33 .nav-dropdown-sm .link:focus,
#menu2-33 .nav-dropdown-sm .link:hover,
#menu2-33 .nav-dropdown-sm .dropdown-item:focus,
#menu2-33 .nav-dropdown-sm .dropdown-item:hover {
  background: #1d3b7b!important;
}
#menu2-33 .navbar,
#menu2-33 .nav-dropdown-sm,
#menu2-33 .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-33 .nav-dropdown-sm .dropdown-menu {
  background: #204187;
}
#menu2-33 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu2-33 .navbar-toggler i,
#menu2-33 .navbar-toggler em,
#menu2-33 .navbar-toggler i:before,
#menu2-33 .navbar-toggler em:before,
#menu2-33 .navbar-toggler i:after,
#menu2-33 .navbar-toggler em:after {
  background: #ffffff;
}
#menu2-33 .navbar-toggler[aria-expanded="true"] i,
#menu2-33 .navbar-toggler[aria-expanded="true"] em {
  background: transparent;
}
#menu2-33 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-33 .bg-color.transparent.opened .link:hover,
#menu2-33 .bg-color.transparent.opened .link:focus {
  color: #fff;
}
#menu2-33 .link[aria-expanded="true"] {
  color: #fff!important;
}
#menu2-33 .dropdown-item[aria-expanded="true"] {
  color: #222!important;
}
